@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
body{
  font-family: 'Karla', sans-serif;
}

.table-border{
  /* margin-left: 250px;
  height: 400px;
  width: 700px;
  border-radius: 5px; */
  border:1px solid  rgb(216, 207, 207);
  margin: 20px;
}

.title-style{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px; 
}

.outer-border{
   margin-top: 40px;
   margin-right: 25px;
   margin-left: 25px;
   margin-bottom: 15px;
   border: 1px solid  rgb(216, 207, 207);
   box-shadow:  0 0 1px #dcd8d8;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 23px;
}
.subtitle{
  color: rgb(113, 113, 122);
  font-size: 16px;
  margin-left: 23px;
  margin-top: 2px;
}

.add-task-button{
  margin-left: 950px;
  margin-top: -50px;
}

.demo{
  display: flex;
  flex-direction: row;
}

